

.link { color:green; }
.appMain { width: 980px; }
.pt-20 { padding-top: 20px; }


.text-center {  text-align: center; }
button {  cursor: pointer; }
.red { color: red; }
.green {  color: green; }

img.watermark {
  cursor: pointer;
  transition: 1s;
  &:hover {
    transform: scale(1.05);
  }
}
 

.swal-overlay {
  background-color: rgba(64, 95, 88, 0.45); /*rgba(43, 165, 137, 0.45);*/
}
.swal-modal {
  /*background-color: rgba(63,255,106,0.69);*/
  border: 3px solid white;
}
.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #4962b3;
  font-size: 12px;
  border: 1px solid #3e549a;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
.swal-button:hover {
  background-color: #1e2b55 !important;
}
.disabled {
  border: 1px solid #999999 !important;
  background-color: #cccccc !important;
  color: #666666 !important;
  &:hover,
  &:active {
    border: 1px solid #999999 !important;
    background-color: #cccccc !important;
    color: #666666 !important;
  }
}
